/** CONFIGURAÇÕES PADRÃO */

:root {
  /* COR */
  --gradienteCinza: linear-gradient(180deg, #393834 0%, #2c2a27 100%);
  --roxo: #5e0e74;
  --cinza: #9b968b;
  --escuro: #21201e;

  /* TIPOGRAFIA */
  /* TAMANHO */
  --fs16: 16px;
  --fs18: 18px;
  --fs25: 25px;
  --fs28: 28px;
  --fs44: 44px;
  --fs75: 75px;

  /* PESO FONTE */
  --fw400: 400;
  --fw500: 500;
  --fw700: 700;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

body {
  background-color: var(--escuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-top: 100px; /* Adiciona um espaçamento no topo do conteúdo principal para compensar o cabeçalho fixo */
}

.separator {
  width: 100%;
  background-color: #fff;
  margin: 60px;
  opacity: 50%;
  height: 1px;
  z-index: 1;
}

/* Header */
.header-solid {
  background-color: var(--escuro);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 40px;
  width: 70%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: var(--fs28);
  font-weight: var(--fw700);
  text-transform: capitalize;
  letter-spacing: 2px;
}

header h1::after {
  content: "";
  position: absolute;
  background-color: var(--roxo);
  width: 6px;
  height: 6px;
  margin-left: 2px;
  margin-top: 20px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul li p {
  font-size: var(--fs16);
  font-weight: var(--fw400);
  text-transform: capitalize;
}

.nav-item:active,
.nav-item:hover {
  color: var(--roxo);
  transition: 0.4s ease-in;
}

/* HOMEPAGE */

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8rem;
}

.homepage article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.homepage article h2 {
  font-size: var(--fs75);
  font-weight: var(--fw700);
  width: 101%;
  text-align: center;
}

.homepage article ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.homepage article ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.homepage article ul li p {
  font-size: var(--fs18);
  font-weight: var(--fw500);
  text-transform: uppercase;
}

.homepage article ul li:not(:last-child)::after {
  content: "/";
  font-weight: var(--fw500);
}

.text {
  color: var(--cinza);
  text-align: justify;
}

.homepage article div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.homepage article div a {
  background-color: var(--roxo);
  font-size: var(--fs16);
  font-weight: var(--fw400);
  padding: 0.5rem;
  border-radius: 10px;
}
.homepage-photo {
  position: relative;
  z-index: 1;
}

.homepage-photo img {
  border-radius: 50%;
  border: 10px solid var(--roxo);
  width: 450px;
  height: 450px;
}

.bola {
  background-color: var(--gradienteCinza);
  background: var(--gradienteCinza);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

#bola-cima {
  width: 340px;
  height: 340px;
  top: -40px;
  left: 70%;
  transform: translateX(-50%);
}

#bola-baixo {
  width: 210px;
  height: 210px;
  bottom: -40px;
  left: 30%;
  transform: translateX(-50%);
}

/* QUEM SOU */

.quem-sou {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.quem-sou article {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.quem-sou .text {
  width: 90%;
}

.quem-sou h3 {
  font-weight: var(--fw700);
  font-size: var(--fs44);
}

.quem-sou em {
  color: var(--roxo);
  font-style: normal;
}

.quem-sou img {
  -webkit-animation: rotate 10s normal linear infinite;
  animation: rotate 10s normal linear infinite;
}

/* Formação */

.wrapper-formacao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formacao {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
}

.formacao h3 {
  font-weight: var(--fw700);
  font-size: var(--fs44);
}

.formacao h3::after {
  content: "";
  position: absolute;
  background-color: var(--roxo);
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-top: 37px;
}

.formacao-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 40px;
  grid-row-gap: 12px;
  width: 800px;
}

.format-grid {
  display: flex;
  flex-direction: column;
  background-color: var(--roxo);
  justify-content: center;
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
}

.format-grid:hover {
  transform: scale(1.03);
  transition: ease-in 0.2s;
}

.format-grid h4 {
  background-color: var(--roxo);
  color: #fff;
  font-size: var(--fs25);
  font-weight: 700;
}

.format-grid p {
  background-color: var(--roxo);
  color: #fff;
  font-size: var(--fs25);
  font-weight: 700;
}

.luiza {
  grid-area: 1 / 1 / 2 / 6;
}
.cursos {
  grid-area: 2 / 1 / 3 / 5;
}
.webDesign {
  grid-area: 2 / 5 / 3 / 6;
}
.designVisual {
  grid-area: 3 / 4 / 4 / 6;
}
.mktDigital {
  grid-area: 3 / 1 / 4 / 4;
}

/* Projetos */

.projetos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.projetos h3 {
  font-weight: var(--fw700);
  font-size: var(--fs44);
}

.projetos h3::after {
  content: "";
  position: absolute;
  background-color: var(--roxo);
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-top: 37px;
}

.projetos article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.detalhes {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}

.detalhes div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.projetos h4 {
  background-color: var(--roxo);
  width: fit-content;
  font-size: var(--fs25);
  font-weight: var(--fw700);
  padding: 1rem;
  border-radius: 10px;
}

.projetos h4:hover {
  transform: scale(1.03);
  transition: ease-in 0.2s;
}

#segundoProjeto {
  margin-left: 20%;
}

.imgProjeto:hover {
  transform: scale(1.03);
  transition: ease-in 0.2s;
}

/* PACOTES */

.pacotes {
  width: 100%;
}

.wrapperPacote {
  display: flex;
  gap: 46px;
  align-items: center;
  margin-bottom: 60px;
}

.estrelaRoxa:hover {
  transform: scale(1.2);
  transition: ease-in 0.2s;
}

.wrapperPacote h3 {
  font-weight: var(--fw700);
  font-size: var(--fs44);
}

.wrapperPacote h3::after {
  content: "";
  position: absolute;
  background-color: var(--roxo);
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-top: 37px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.conteudo-pacote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#pacote-icon {
  width: 60px;
  height: 60px;
  -webkit-animation: rotate 10s normal linear infinite;
  animation: rotate 10s normal linear infinite;
}

.containerPhoto1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 500px;
}

.containerPhoto2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0;
  grid-template-rows: 1fr repeat(3, 0) 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 5 / 2 / 6 / 5;
  align-self: center;
}
.div2 {
  grid-area: 1 / 1 / 2 / 2;
}
.div3 {
  grid-area: 1 / 2 / 2 / 3;
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
}
.div5 {
  grid-area: 1 / 4 / 2 / 5;
}

.details h4 {
  background-color: var(--roxo);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}

/* FOOTER */

footer {
  display: flex;
  gap: 12rem;
  padding-bottom: 60px;
}

.esquerda h3 {
  font-weight: var(--fw700);
  font-size: var(--fs44);
  margin-bottom: 80px;
}

.esquerda h3::after {
  content: "";
  position: absolute;
  background-color: var(--roxo);
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-top: 37px;
}

.wrapperImageFooter {
  position: relative;
  z-index: 1;
}

.wrapperImageFooter img {
  border-radius: 50%;
  border: 10px solid var(--roxo);
  width: 250px;
  height: 250px;
}

.bola {
  background-color: var(--gradienteCinza);
  background: var(--gradienteCinza);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

#bola-cima2 {
  width: 240px;
  height: 240px;
  top: -50px;
  left: 40%;
  transform: translateX(-50%);
}

#bola-baixo2 {
  width: 110px;
  height: 110px;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
}

.direita {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 700px;
}

.direita h4 {
  background-color: var(--roxo);
  border-radius: 15px;
  font-size: var(--fs28);
  font-weight: var(--fw700);
  width: fit-content;
  padding: 10px 20px;
}

.icones {
  display: flex;
  gap: 10px;
}
.icones img {
  border-radius: 50%;
  background-color: var(--roxo);
}
